.container {
    display: flex;
    justify-content: center;
}


#rectangle {
    width: 800px;
    height: 533px;
    border: 2px solid black;
    margin-top: 2rem;
    
}

.bouton {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: white;

}

.bouton:hover {
background-color: rgba(0, 0, 0, 0.8);
}

.point {
    cursor: pointer;
  background-color:grey;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
    background-color: black;
  }